@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap");

:root {
  --primary-color: #14d4ee;
  --background-color: rgba(244, 253, 253, 0.7);
  --dark-background-color: rgb(239, 239, 247);
  --font: "Exo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color:white;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  height: max-content;
  overflow-x: hidden;
}

